body {
    font-family: 'Montserrat', sans-serif;
}
header {
    width: 100%;
    background-color: lightblue;
}
main {
    width: 100%;
}
footer {
    width: 100%;
}
.my-bg-black {
    background-color: black;
}
.top_menu_col {
    background-color: yellow;
}
.my_jumbo {
    background-color: lightblue;
}
.my-bg-red {
    background-color: red;
}
.my-bg-purple {
    background-color: purple;
}
.my-bg-lblue {
    /* background-color: lightblue; */
}
.my-bg-dblue {
    background-color: darkblue;
}
#portfolio {
    height: 100px;
}
.my_square img {
    height: 100%;
    width: 100%;
    border-radius: 10px;
}
