header {
    background-color: blue;
}
.my-bg-black {
    background-color: black;
}
.top_menu_col {
    background-color: yellow;
}
.my_jumbo {
    background-color: lightblue;
}
.my-bg-red {
    background-color: red;
}
.my-bg-purple {
    background-color: purple;
}
.my-bg-lblue {
    background-color: lightblue;
}
.my-bg-dblue {
    background-color: darkblue;
}
#portfolio {
    height: 100px;
}
.my_square {
    height: 100px;
}
/* .row {
    margin: 0;
} */
#menu-dx-phone {
    display: none;
}

/* @media screen and (max-width: 576px) {
    #menu-dx {
        display: none;
    }
    #menu-dx-phone {
        display: block;
    }
} */