header {
    background-color: blue;
}
.top_menu {
    background-color: black;
}
.top_menu_col {
    background-color: yellow;
}
.my_jumbo {
    background-color: lightblue;
}
.my-bg-red {
    background-color: red;
}
.my-bg-purple {
    background-color: purple;
}
.my-bg-lblue {
    background-color: lightblue;
}
#portfolio {
    height: 100px;
}
.my_square {
    height: 100px;
}
